AY-121 { color: #99c92b; }
AY-122 { color: #99c92b; }
AY-126 { color: #ace42b; }
AY-4 { color: #33A02C; }
AY-43 { color: #2bb655; }
BA-1 { color: #f859b6; }
BA-2 { color: #C90076; }
B-1-617-2 { color: #c18fda; }

B-1 { color: #A6CEE3; }
P-1 { color: #A6CEE3; }
P-2 { color: #A6CEE3; }
AY-1 { color: #9053D1; }
AY-10 { color: #9053D1; }
AY-11 { color: #9053D1; }
AY-12 { color: #9053D1; }
AY-113 { color: #924FDA; }
AY-125 { color: #D4FB79; }
AY-127 { color: #D4FB79; }
AY-16 { color: #502E75; }
AY-17 { color: #9053D1; }
AY-18 { color: #9053D1; }
AY-19 { color: #9053D1; }
AY-2 { color: #9053D1; }
AY-20-1 { color: #D4FB79; }
AY-20 { color: #9053D1; }
AY-21 { color: #9053D1; }
AY-23 { color: #9053D1; }
AY-26 { color: #4D4D4D; }
AY-3 { color: #9053D1; }
AY-33 { color: #502E75; }
AY-34 { color: #787878; }
AY-36 { color: #787878; }
AY-38 { color: #9053D1; }
AY-4-1 { color: #33A02C; }
AY-4-2 { color: #33A02C; }
AY-4-3 { color: #33A02C; }
AY-4-4 { color: #33A02C; }
AY-4-5 { color: #33A02C; }
AY-41 { color: #9053D1; }
AY-42 { color: #D4FB79; }
AY-46-2 { color: #9053D1; }
AY-46-6 { color: #9053D1; }
AY-46 { color: #9053D1; }
AY-5-2 { color: #9053D1; }
AY-5 { color: #9053D1; }
AY-6 { color: #9053D1; }
AY-7-1 { color: #9053D1; }
AY-7-2 { color: #9053D1; }
AY-7 { color: #9053D1; }
AY-8 { color: #9053D1; }
AY-9 { color: #FF2F92; }
AY-9-2 { color: #FF2F92; }
AY-98-1 { color: #D4FB79; }
AY-98 { color: #D4FB79; }
AZ-2 { color: #338CC8; }
B-1-1-153 { color: #B15928; }
B-1-1-318 { color: #1F78B4; }
B-1-1-7 { color: #F3444B; }
B-1-1 { color: #FFFF99; }
B-1-160 { color: #FDBF6F; }
B-1-177 { color: #FB9A99; }
B-1-258-3 { color: #999999; }
B-1-258 { color: #999999; }
B-1-351-2 { color: #FF7F00; }
B-1-351 { color: #FF7F00; }
B-1-525 { color: #C65911; }
C-36-3 { color: #DDD100; }
C-36 { color: #ABA200; }
None { color: #BBBBBB; }
Other { color: #999999; }
